html {
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 5rem;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
